/***** Fonts *****/
@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/Avenir-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
  font-display: swap; 
}


/***** Mobile *****/
.mobnav {
  display: inline;
  float:center;
  width:100%;
  justify-content: center;
  background-color: none;
  overflow:auto;
}
.mobnav li{
  list-style-type: none;
  margin: 0 0;
  font-size: 8vw;
  display: inline;
}
.mobnav a{
  float:left;
  text-decoration: none;
  color: #699B3C;
  width: 25%;
  margin: 0;
  padding: 0;
  font-family: "Avenir Light";
}
.mobnav a:hover{
  background-color: #BEDBA5;
  border-bottom: 5px solid #BEDBA5;
  transition: 0.4s;
   color: #699B3C;
}
.mobnav body{
  margin: 0;
}
.mobnav ul{
  text-align:center;
  margin: 0 0;
  padding: 0;
  background-color: none;
}
.mobnav a.active {
  border-bottom: 5px solid #699B3C;
}
.nav {
  display: none;
}

/***** Laptops & Desktops *****/
@media only screen and (min-width: 992px) {
  .mobnav {
    display: none;
  }
  .nav {
    display: inline;
    float:center;
    width:100%;
    justify-content: center;
    background-color: none;
    overflow:auto;
  }
  .nav li{
    list-style-type: none;
    margin: 0 0;
    font-size: 4vw;
    display: inline;
  }
  .nav a{
    float:left;
    text-decoration: none;
    color: #699B3C;
    width: 25%;
    margin: 0;
    padding: 0;
    font-family: "Avenir Light";
  }
  .nav a:hover{
    background-color: #BEDBA5;
    border-bottom: 3px solid #BEDBA5;
    transition: 0.4s;
    color: #699B3C;
  }
  .nav body{
    margin: 0;
  }
  .nav ul{
    text-align:center;
    margin: 0 0;
    padding: 0;
    background-color: none;
  }
  .nav a.active {
    border-bottom: 3px solid #699B3C;
  }
a {
  color: #699B3C;
}